.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 20;
}

.startButton {
  background-color: transparent;
  font-size: x-large;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.startButton:hover {
  transform: scale(1.05);
}
