.container {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
}

.gameOver {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.playAgainButton {
  position: absolute;
  top: 180px;
  left: 56px;
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.playAgainButton:hover {
  transform: scale(1.05);
}

.finalScore {
  position: absolute;
  font-size: 23px;
  top: 134px;
  // left: 85px;
}
