.container {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 20;
}

.instruction {
  font-size: 32px;
  font-weight: 100;
  padding-bottom: 30px;
}

.startButton {
  background-color: transparent;
  font-size: x-large;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.startButton:hover {
  transform: scale(1.05);
}
