* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "CustomFont", sans-serif;

  background-color: #ffffff;
  /* background-color: #e3dede; */
  line-height: 1.6;
}

button {
  font-family: "CustomFont", sans-serif;
}
